<!DOCTYPE html>
<html>
    <head>
        <title>Enhancv</title>
        <meta charset="utf-8">
        <link rel="shortcut icon" href="images/favicon.ico">
        <link href="https://fonts.googleapis.com/css?family=Noto+Sans|Roboto" rel="stylesheet">
    </head>
    <body class="loader-on">
        <div id="app"></div>
    </body>
</html>