.content-section {    
    .text-tips {
        background: #009FE5;
        color: #fff;
        text-align: center;
        height: 150px;
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 10;
        display: table;
        transition: all 500ms ease-in-out;    
        &.hide-tips-container {
            bottom: -100%;
        }
        .content {
            display: table-cell;
            vertical-align: middle;
            font-size: 20px;
            p {
                margin: 0;
                &.sub-title {
                    font-size: 14px;
                    a {
                        color: #fff;
                        padding: 0 10px;
                        text-decoration: underline;
                    }
                }
            }
            .btn {
                margin-bottom: 0;
            }
        }
    }
    .resume {
        max-width: 940px;
        margin-top: 56px;
        margin-left: auto;
        margin-right: auto;
        padding: 60px;
        background-image: url('../images/resume-background.jpg'); 
        position: relative;
        .content {
            border-bottom: 1px dashed #ccc;
            margin-bottom: 15px;
            padding-bottom: 15px;
            p {
                margin-bottom: 0;
            }
            h2 {
                color: #000;
                word-wrap: break-word;
                padding-bottom: 5px;
                border-bottom: 3px solid #000;
                margin: 0;
                text-transform: uppercase;
                font-size: 28px;
                line-height: 28px;
                font-weight: 600;
                white-space: pre-wrap;
                margin-bottom: 20px;
            }
            h3 {
                font-size: 21px;
                color: #00B400;
                margin-bottom: 10px;
            }
            ul {
                padding: 0;
                margin: 0;
                li {
                    border: 1px solid #a9a9a9;
                    padding: 5px 8px;
                    background: transparent;
                    min-width: 20px;
                    margin: 5px 10px 5px 0;
                    max-width: 95%;
                    text-align: center;
                    font-size: 14px;
                    font-weight: 700;
                    display: inline-block;
                }
            }
        }    
        & > .row {
            margin-bottom: 30px;
            position: relative;
            p {
                color: #333;
                font-size: 15px;
            }
        }
        .background-modification {
            background-image: url('../images/background-modification.svg');
            background-repeat: no-repeat;
            background-position: top right;
            background-size: 100%;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;    
            z-index: 1;        
        }
        .active-writing {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: rgba(0,192,142,.3);
            z-index: 5;
        }
        .avatar {
            border-radius: 50%;
            height: 150px;
            width: 150px;
            background-image: url('https://graph.facebook.com/10155615635115519/picture?width=600&height=600');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            float: right;
        }
        .user-info {
            .icon-container {
                position: relative;
                width: 50%;
                float: left;
                padding-left: 17px;
                font-weight: bold;
                p {
                    margin-bottom: 5px;
                    font-size: 12px;
                    line-height: 16px;
                }
                i {
                    position: absolute;
                    top: 1px;
                    left: 0;
                    color: #00B400;
                }
            }
        }
        .user-name-container, .user-role-container {
            position: relative;
            &.active-area {
                z-index: 7;
                textarea {
                    background: #fff;
                    border-radius: 7px;
                    border: 1px solid #60d5ba;
                    padding-left: 15px;
                    padding-right: 15px;
                    margin-left: -15px;
                    width: 100%;
                }
            }
            textarea {
                min-height: 10px;
                background: transparent;
                white-space: pre-wrap;
                text-size-adjust: none;
                position: relative;
                z-index: 1;
                word-break: break-word;
                color: #000;
                padding: 0;
                margin: 0;
                resize: none;
                border: none;
                outline: none;
            }
        }
        .user-name-container {            
            textarea {
                font-size: 42px;
                font-weight: 600;
                &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                    color: #000;
                }
                &::-moz-placeholder { /* Firefox 19+ */
                    color: #000;
                }
                &:-ms-input-placeholder { /* IE 10+ */
                    color: #000;
                }
                &:-moz-placeholder { /* Firefox 18- */
                    color: #000;
                }     
            }
        }
        .user-role-container {
            margin-bottom: 12px;
            textarea {
                font-size: 21px;
                font-weight: 600;
                color: #00B400;
                &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                    color: #00B400;
                }
                &::-moz-placeholder { /* Firefox 19+ */
                    color: #00B400;
                }
                &:-ms-input-placeholder { /* IE 10+ */
                    color: #00B400;
                }
                &:-moz-placeholder { /* Firefox 18- */
                    color: #00B400;
                }
            }
        }
    }
}