body {
    background: #00c091;
    background-attachment: fixed;
    background-repeat: repeat;
    scroll-behavior: smooth;
    font-family: 'Roboto', 'Noto Sans', 'Arial', 'Helvetica',sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333;
}
.btn-secondary {
    color: #333;
    background-color: #e6e6e6;
    border-color: #e6e6e6;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    padding: 9px 14px;
    width: 100%;
    max-width: 100px;
    border: none;
    &:hover, &:active {
        color: #333;
        background-color: #cdcccc;
        border-color: #c7c7c7;
    }
}
.loader-on {
    overflow: hidden;
    height: 100%;
}
.hidden-loader {
    .page-loader {
        display: none;
    }
}
.page-loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 15;
    background: #00BF94;
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;   
    .svg-holder {
        display: table-cell;
        vertical-align: middle;
        svg {
            max-width: 90px;
            stroke-width: 2px;
        }
    }
}
.fade-exit {
    opacity: 1;
}
.fade-exit.fade-exit-active {        
    opacity: 0.01;
    transition: opacity 300ms ease-in-out;    
}
.fade-enter {
    opacity: 0.01;
}
.fade-enter.fade-enter-active {        
    opacity: 1;
    transition: opacity 300ms ease-in-out;    
}
.hide {
    display: none;
}
.close-tutorial {
    position: absolute;
    top: 6px;
    right: 10px;
    color: #fff;
    font-size: 20px;
    &:hover {
        opacity: 0.8;
        color: #fff;
    }
}