.navigation-header {
    background: #fff;
    .header-holder {
        align-items: center;
        .branding {
            width: 45px;
            display: block;
            svg {
                path {
                    stroke: #00BF94;
                    stroke-width: 2px
                }            
            }        
        }
        .hide-progress {            
            opacity: 0;
            transition: all 500ms ease-in-out;    
        }
        .progress-label {
            background: #fff;
            margin: 0;
            padding-right: 20px;
            float:left;
        }
        .progress-bar {
            transition: width 500ms ease-in-out;    
        }
    }
}